<div id="wrapper" class="clearfix">
<img style="float: right;" width="300" src="/images/mugshots/<%- inmate[1] %>" />
<strong style="font-size: 2em;"><%- inmate[2] %></strong> <a name="fb_share"></a> 
<p>
	Rating: <strong><%- inmate[9] %></strong><br />
	Wins: <strong><%- inmate[10] * 11 %></strong><br />
	Losses: <strong><%- inmate[11] * 11 %></strong><br /><br />
</p>

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'mugshotwars';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</div>
</div>
<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
