<div id="wrapper" class="clearfix">
<a class="button" href="/"><div class="buttonwrap">Start rating &rarr;</div></a>
<strong style="font-size: 2em;">Top Mugshots</strong>&nbsp;&nbsp;<a name="fb_share"></a><br />

<div style="background: url('/images/throne.jpg') top center no-repeat; height: 525px; text-align: center; padding-top: 150px;">
	<% var top = bookings[0]; bookings.shift(); %>
	<a style="position: relative; left: 10px; color: #fff; text-decoration: none; text-shadow: 0 0 10px #000;" href="/details/<%- top[0] %>">
		<img width="200" src="/images/mugshots/<%- top[2] %>" style="-webkit-box-shadow: 0 0 20px #000; -moz-box-shadow: 0 0 20px #000;" /><br /><br /><br />
		King @ <%- top[3] %>
	</a>
</div>

<div id="lineup">
	<% for (var i = 0; i <= 19; i++) { var thisBooking = bookings[i]; %>
	<a class="inmate" href="/details/<%- thisBooking[0] %>">
		<img width="150" src="/images/mugshots/<%- thisBooking[2] %>" /><br /><br />
		#<%- i + 2 %> @ <%- thisBooking[3] %></a>
	<% } %>
</div>

</div>
<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
